<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sourcelogs</title>
    <style>
        body {
            background: #f2f2f2;
            color: #444444;
            font-family: 'Source Serif Pro', serif;
            line-height: 1.6;
            margin: 5% auto;
            text-rendering: optimizeLegibility;
            width: 73%;
        }
        hr {
            border-bottom: 3px solid #444444;
            border: none;
            height:0;
        }
        .logs {
            border-collapse: collapse;
            color: powderblue;
            table-layout: auto;
            text-align: center;
            width: 100%;
        }
        .logs td {
            word-wrap: break-word;
        }
        .next {
            color: white;
            float: right;
        }
        .previous {
            color: white;
            float: left;
        }
        .container {
            background: rgba(8, 33, 42, 0.9);
            border-radius: 20px;
            margin: 0 auto;
            margin-bottom: 24px;
            padding: 32px;
            width: 73%;
        }
        .header-text {
            color: powderblue;
            margin: 0 auto;
            object-position: top;
            padding: 20px;
            position: inherit;
            text-align: center;
        }
        .flex-container {
            display: flex;
            margin: 0 auto;
            padding-bottom: 16px;
            padding-top: 16px;
            width: 63%;
        }
        .flex-child {
            flex: auto;
        }  
        .flex-child:first-child {
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <style>body {background-image: url( https://gamesnfriends.com/Images/Maps/vsh_box_v4.jpg ); background-size: cover; background-repeat: no-repeat; background-color: #001F26; background-attachment: fixed;}</style>
    <div class="container">
        <h1 class="header-text">Search logs</h1>
        <form class="flex-container">
          {% match search %}
            {% when Some with (val) %}
              <input class="flex-child" type="text" name="search" value="{{ val }}"/><br/>
            {% when None %}
              <input class="flex-child" type="text" name="search" /><br/>
          {% endmatch %}
          <p><input class="flex-child" type="submit"></p>
        </form>
    </div>
    <div class="container">
        <h1 class="header-text">{{ total_logs }} logs found:</h1>
        {% match search %}
          {% when Some with (val) %}
            {% if page > 0 %}
              <a href="?page={{ page - 1 }}&search={{ val }}" class="previous">&laquo; Previous</a>
            {% endif %}
            {% if has_next_page %}
              <a href="?page={{ page + 1 }}&search={{ val }}" class="next">Next &raquo;</a>
            {% endif %}
          {% when None %}
            {% if page > 0 %}
              <a href="?page={{ page - 1 }}" class="previous">&laquo; Previous</a>
            {% endif %}
            {% if has_next_page %}
              <a href="?page={{ page + 1 }}" class="next">Next &raquo;</a>
            {% endif %}
        {% endmatch %}
        <table border="1" class="logs" width="100%">
          <tr>
            <th>date</th>
            <th>name</th>
            <th>steamid</th>
            <th>message</th>
          </tr>
          {% for log in logs %}
          <tr>
            <td class="log-standard">{{ log.date }}</td>
            <td class="log-standard">{{ log.name }}</td>
            <td class="log-standard">{{ log.steamid }}</td>
            <td class="log-standard">{{ log.message }}</td>
          </tr>
          {% endfor %}
        </table>
        {% match search %}
          {% when Some with (val) %}
            {% if page > 0 %}
              <a href="?page={{ page - 1 }}&search={{ val }}" class="previous">&laquo; Previous</a>
            {% endif %}
            {% if has_next_page %}
              <a href="?page={{ page + 1 }}&search={{ val }}" class="next">Next &raquo;</a>
            {% endif %}
          {% when None %}
            {% if page > 0 %}
              <a href="?page={{ page - 1 }}" class="previous">&laquo; Previous</a>
            {% endif %}
            {% if has_next_page %}
              <a href="?page={{ page + 1 }}" class="next">Next &raquo;</a>
            {% endif %}
        {% endmatch %}
    </div>
</body>
</html>

